.mainPageBgImage
{
    width: 100vw;
    height: 100vh;
    background-image: url('./../images/polling.png');
    background-size: cover;
    background-position: center;
}

.mainContainer
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: auto;
    width: 50%;
    height: 80vh;
    background-color: white;
    box-shadow: 5px 5px 10px darkgray;
    border-radius: 40px 0 40px 0;
}

.pollingLogoContainer
{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.pollingLogoContainer > img
{
    width: 120px;
    height: 120px;
}

.pollingLogoContainer > h1
{
    margin: 10px 0 20px 0;
    font-family: 'BerkShire';
    font-size: 50px;
    color: darkgray;
}

.navbarContainer
{
    margin: auto;
    width: 80%;
}

.navbarTabs
{
    margin: auto;
    width: 52%;
    padding-left: 22.5px;
}

.notActive
{
    color: tomato;
}

.pollFormContainer
{
    width: 80%;
    margin: 20px auto;
}